NEXT_PUBLIC_SITE_URL=https://gcgl-digital-platform.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://svhnkdosyrhetfaqjlcy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2aG5rZG9zeXJoZXRmYXFqbGN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2NTE0NDIsImV4cCI6MjEwNjIyNzQ0Mn0.gJi6HxCtaADICILXCmHa6kAtF4c7v5bmmxe9Rpgfx1M
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=sk_test_9fcfda374ae23baf177312a08bc591288fd07937
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=GCGL Daily Digest <onboarding@resend.dev>
